
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin: 0px;
	padding: 0px;
}

/* global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}


/* the header */
header {
	background-color: #333;
	padding: 10px;
	text-align: center;
}
header a {
	color: #ffffff;
	text-decoration: none;
	padding: 10px;

}
header ul{
	margin: 0px;
	padding: 0px;
}
header li{
	display: inline;
	padding: 15px;
}
header a:hover {
	color: #a5a7aa;

}



/* main big red area */
#showcase{
	min-height: 400px;
	padding: 100px;
	text-align: center;
	background: #d13e41;
	color: #ffffff;
}
#showcase h1 {
	font-size: 100px;
	margin-top: 100px;
	margin-bottom: 50px;

}
#showcase p {
	font-size: 16px;
}

#splitter{
	background-image: url('images/about.png');
}

/* where the writing is */
.content {
	background-color: white;
	padding: 100px;
	text-align: center;
}

/* footer */
footer {
	padding: 10px;
	margin-top: 30px;
	text-align: center;
	color: #ffffff;
	background-color: #ddd;
}
/* media queries */
@media(max-width: 768px){
	header a{
		display: none;
		
	}

	}
}










}
